/* Frame 2 */

position: relative;
width: 320px;
height: 220px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 89px;
height: 201px;
left: 0px;
top: 19px;

background: #313C4D;


/* Rectangle 2 */

position: absolute;
width: 231px;
height: 19px;
left: 89px;
top: 201px;

background: #212E37;


/* Rectangle 20 */

position: absolute;
width: 231px;
height: 19px;
left: 89px;
top: 0px;

background: #384450;


/* Rectangle 3 */

position: absolute;
width: 231px;
height: 182px;
left: 89px;
top: 19px;

background: #3D4A58;


/* Rectangle 26 */

position: absolute;
width: 110px;
height: 12px;
left: 206px;
top: 39px;

background: #4E5866;
border-radius: 4px;


/* Rectangle 4 */

position: absolute;
width: 89px;
height: 19px;
left: 0px;
top: 0px;

background: #2E3842;


/* Rectangle 11 */

position: absolute;
width: 83px;
height: 15px;
left: 3px;
top: 2px;

background: #334257;
border-radius: 23px;


/* Rectangle 13 */

position: absolute;
width: 89px;
height: 14px;
left: 0px;
top: 20px;

background: #334257;
border: 0.5px solid #3E89AA;
box-sizing: border-box;


/* Андрей Анатолиевич */

position: absolute;
width: 61px;
height: 9px;
left: 14px;
top: 23px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 6px;
line-height: 7px;

color: #D5D5D5;



/* Rectangle 12 */

position: absolute;
width: 13px;
height: 13px;
left: 72px;
top: 3px;

background: #252C33;
border-radius: 9px;


/* Rectangle 21 */

position: absolute;
width: 24px;
height: 15px;
left: 294px;
top: 203px;

background: #3D4A58;
border-radius: 3px;


/* Rectangle 27 */

position: absolute;
width: 24px;
height: 15px;
left: 93px;
top: 2px;

background: #252C33;
border-radius: 3px;


/* Rectangle 28 */

position: absolute;
width: 24px;
height: 15px;
left: 294px;
top: 203px;

background: #3D4A58;
border-radius: 3px;


/* Rectangle 25 */

position: absolute;
width: 90px;
height: 12px;
left: 93px;
top: 22px;

background: #212E37;
border-radius: 4px;


/* Rectangle 32 */

position: absolute;
width: 90px;
height: 12px;
left: 93px;
top: 56px;

background: #212E37;
border: 0.5px solid #3E89AA;
box-sizing: border-box;
border-radius: 4px;


/* Привет, Андрей */

position: absolute;
width: 48px;
height: 9px;
left: 114px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 6px;
line-height: 7px;

color: #D5D5D5;



/* Привет, Андрей */

position: absolute;
width: 48px;
height: 9px;
left: 114px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 6px;
line-height: 7px;

color: #D5D5D5;



/* Привет, Андрей */

position: absolute;
width: 48px;
height: 9px;
left: 114px;
top: 58px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 6px;
line-height: 7px;

color: #D5D5D5;



/* Привет, Андрей */

position: absolute;
width: 48px;
height: 9px;
left: 237px;
top: 41px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 6px;
line-height: 7px;

color: #D5D5D5;



/* 12:35 11.12.2008 */

position: absolute;
width: 49px;
height: 5px;
left: 151px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 4px;
line-height: 5px;
/* identical to box height */

color: #C5C5C5;



/* 12:35 11.12.2008 */

position: absolute;
width: 49px;
height: 5px;
left: 284px;
top: 51px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 4px;
line-height: 5px;
/* identical to box height */

color: #C5C5C5;
