window
{
    background-color:   #353535;
}

entry
{
    background:         gray;
    color:              white;
    font-size:          15px;
}

label
{
    color:              white;
    font-size:          12px;
}

button
{
    background:         #343434;
    border-color:       gray;
    box-shadow:         none;
    margin:             10px;
}

button:hover
{
    background:         gray;
}

button:active
{
    background:         white;
}