
window
{
    background: linear-gradient(to top, #6743b9, #8ecafc);
}



entry
{
    background:        none;
    border-color: rgb(231, 223, 223);
    font-size:          15px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px whitesmoke;


}
label 
{    
    color: rgb(231, 223, 223);
    font-size: 20px;
}

button 
{

    text-shadow: none;
    text-decoration: none;
    background: none;
    box-shadow: 0 0 2px 1px whitesmoke;
}




/* MAIN BOX */
#chats_box 
{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;

    border: none;
    background: #313C4D;

}
#message_box 
{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;

    background: #3D4A58;
}
/* END MAIN BOX */


/* CHAT BOX */
#chat 
{       
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;

    border-radius:             0;
    border : none;
    
    background: #334257;


}

#chat_active 
{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;


    border: solid 1px #3E89AA;
    background: none;
    font-size: 30px;
    border-radius: 0;
 
    
}
#main_menu_key_active 
{
    background: none;
    font-size:          30px;
    border-radius:             0;

}
/* END CHAT BOX */



#setting_str 
{
  
}


/* MESSAGE BOX */
#message_my
{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    margin-left:        100px;

    background: #4E5866;
    border-radius: 4px;
}
#message_interlocutor
{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    margin-right:        100px;

    background: #212E37;
    border-radius: 4px;
}
/* END MESSAGE BOX */



#collocutor_name 
{
    color:              rgb(218, 214, 34);
    font-size:          20px;  
}




/* INPUT BOX */
#input_key 
{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
}
#input_str 
{
      border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
}
/* END  INPUT BOX */

#input_box {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;

    background: #212E37;
}


/* SEARCH BOX */
#search_key {
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;


    border: none;
}
#search_str {
    outline: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;

    border: none;

}
#search_box {
    
    background: #334257;
    border-radius: 23px;
    }


#setting_str {
    background: #384450;
}
/* END SEARCH BOX */
#send_message_button_image {

}
