window
{
    background-color:   #3d3535;
}
entry
{
    background:         rgb(36, 24, 24);
    color:              rgb(154, 159, 192);
    font-size:          15px;

}
#chats_box 
{
    background-color: rgb(18, 22, 18);
}
#message 
{
    background:         rgb(20, 4, 4);
    color:              rgb(188, 191, 207);
    font-size:          15px;
}
#chat 
{
    background:         rgb(20, 4, 4);
    color:              rgb(188, 191, 207);
    font-size:          30px;
    border:             solid 2px rgb(51, 44, 44);
}
button 
{
    background: rgb(54, 51, 51);
    color : rgb(255, 255, 255);
}